extends layout

block content
  .row
    h1.diary-tag Food Diary
    buttn.btn.btn-warning(ng-click="showUser = !showUser") Show User
  .row#new-user-container(ng-show="showUser")
    h3.section-title User
    select(value="Select user")
      option(selected="selected") Select a current user
    form(ng-submit="saveUser()")
      .col-sm-6#personal-data
        label.label-spacer Name
        input.form-control(placeholder="Name" ng-model="user.name" required)
        label.label-spacer Age
        input.form-control(placeholder="Age" ng-model="user.age" min="1" type="number" required)
        label.label-spacer Gender
        select.form-control(ng-model="user.gender" required)
          option Male
          option Female
      .col-sm-6#user-measurables
        label.label-spacer Weight
        input.form-control(placeholder="Weight in Pounds" ng-model="user.weight" min="0" type="number" required)
        label.label-spacer Height
        input.form-control(placeholder="Height in Inches" ng-model="user.height" min="0" type="number" required)
        label.label-spacer Unit
        select.form-control(ng-model="user.unit" required)
          option in
          option cm
      div.btn-container
        button.save-user.btn.btn-success(type="Submit") Save user
        span.loggedin-user(ng-show="currentUser") Logged In
  .row.food-list
    .col-sm-6#new-food
      h3.section-title Food
      form(ng-submit="addFood()")
        label.label-spacer Desciption
        input.form-control(placeholder="Food name" ng-model="food.description" maxlength="20" required)
        label.label-spacer Meal
        select.form-control(ng-model="food.meal" required)
          option Breakfast
          option Lunch
          option Dinner
          option Snack
          option Fourth Meal
        label.label-spacer Calories
        input.form-control(placeholder="Calories" ng-model="food.calories" type="number" min="0" required)
        label.label-spacer Servings
        input.form-control(placeholder="Servings" ng-model="food.servings" type="number" min="1" required)
        div.btn-container
          button.btn.btn-primary.food-button(type="submit" ng-disabled="!currentUser") Save Food
          span.disabled-user(ng-hide="currentUser") Create a user first
    .col-sm-6.stats-container
      h2 Current User: {{currentUser.name || "none"}}
      table.table-striped.stats-table
        thead
          tr
            th.stats-head BMI
            th.stats-head Old Weight
            th.stats-head Weight Gained
            th.stats-head Current Weight
        tbody
          tr
            td {{calcBMI() | number:2}}
            td {{currentUser.weight | number:0}}
            td {{weightGained() | number:2}}
            td {{currentWeight() | number:2}}
      img(ng-src="http://www.helioscopie.fr/sites/default/files/calculimcENG.jpg" class="img-responsive bmi-sheet")
  .row
    .col-sm-12
      .food-container(ng-show="foodList.length > 0")
        table.table-striped.food-table
          thead
            tr
              th.food-head Edit
              th.food-head Delete
              th.food-head Desciption
              th.food-head Meal
              th.food-head Calories
              th.food-head Servings
              th.food-head Date
          tbody
            tr.food-item(ng-repeat="food in foodList track by $index")
              td
                button.btn.btn-info.btn-xs(ng-click="editFood($index)" ng-hide="food.editing") Edit
                button.btn.btn-success.btn-xs(ng-click="saveFood($index)" ng-show="food.editing") Save
              td
                button.btn.btn-danger.btn-xs(ng-click="deleteFood(food, $index)") Delete
              td
                p.fooditem(ng-hide="food.editing") {{food.description}}
                input(ng-model="food.description" ng-show="food.editing")
              td
                p.fooditem(ng-hide="food.editing") {{food.meal}}
                input(ng-model="food.meal" ng-show="food.editing")
              td
                p.fooditem(ng-hide="food.editing") {{food.calories}}
                input(ng-model="food.calories" ng-show="food.editing")
              td
                p.fooditem(ng-hide="food.editing") {{food.servings}}
                input(ng-model="food.servings" ng-show="food.editing")
              td
                p.fooditem(ng-hide="food.editing") {{food.date | date : 'mediumDate' }}
                input(ng-model="food.description" ng-show="food.editing")
