body {
  padding-left: 40px;
  padding-right: 40px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
/* .stats-container {
  margin-right: 60px;
} */
.diary-tag {
  text-align: center
}
.stats-table {
  clear: both;
}
.stats-head {
  padding-left: 10px;
  padding-right: 10px;
}
.stats-table{
  width: 100%;
}
.stats-table td, .stats-table th {
  text-align: center;
}
#personal-data, #user-measurables, #new-food {
  padding-left: 0;
}
.stats-container {
  border-left: 1px solid rgb(227, 227, 227);
}
.label-spacer {
  margin-top: 15px;
}
.save-user {
  margin-top: 10px;
}
.section-title {
  margin-bottom: 0;
  margin-top: 10px;
}
#new-user-container {
  border-bottom: 1px solid rgb(224, 224, 224);
  border-top: 1px solid rgb(224, 224, 224);
  padding-bottom: 10px;
  margin-top: 10px;
}
.food-button {
  margin-top: 10px;
}
.food-table {
  width: 100%;
}
.food-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.food-item td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.food-list {
  margin-top: 7px;
  margin-bottom: 10px;
}
.bmi-sheet {
  padding-bottom: 15px;
}
